snippet img "img link"
![](../img/$1.png)$0
endsnippet


snippet sum "sum"
$$\sum^{ $1 }_{ $2 }{ $3 }$$$0
endsnippet

snippet up "up"
^{ $1 }$0
endsnippet

snippet down "down"
_{ $1 }$0
endsnippet


snippet link "web link"
[$1]($2)$0
endsnippet
